body{
    background-color: #FBFBF9;
}

#title{
  color: #C11B17;
}

.container-fluid{
  padding: 1% 15% 1% 10%;
}

h1{
  font-family: "Montserrat-Black";
  font-size: 7rem;
  line-height: 1.5;
}

h2{
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  text-align: center;
}

h3{
  font-family: "Montserrat-Bold";
  }

hr{
  width: 100%;
}

p{
  color: #8f8f8f;
}

/* Navigation */
.navbar{
  padding: 0 1 1rem;
  background-color: #123456;
  }

.navbar-brand{
  font-family: "Ubuntu";
}

.nav-item{
  padding: 0 20px;
}

.nav-link{
  font-size: 1.2rem;
}

/* Register-Button */
.register-button{
  margin: 10% 5% 3% 0;
}



/* Activities-Section */
#activities{
  padding: 3% 10% 0 8%;
/*   background-color: #E3E4FA; */
  color: #C24641;
  }

.first-activities{
  text-align: center;
/*   border-style: solid;
  border-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-color: #5F9EA0;
  background-color: #E5E4E2; */
      }

.second-activities{
  text-align: center;
  margin: 1% 0 0 0;
/*   border-style: solid;
  border-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-color: #5F9EA0;
  background-color: #E5E4E2; */
}

#connect{
  padding: 10% 10% 5% 1%;
  margin: 0 0 0 0;
  background-color:#E5E4E2;
}

#about-mtr{
  background-color: #FBFBF9;
}
